@font-face {
  font-family: "Gulax";
  src: url("assets/fonts/Gulax-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Gulax";
}

p {
  font-family: "Bahnschrift";
}

body {
  background-color: #eedbca;
}

#hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#hero-section h1 {
  font-size: 75px;
  padding: 50px 0;
  padding-left: 25px;
  background-color: black;
  background-image: url("assets/graphics/fat-cables.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: left;
}

#hero-section a {
  text-decoration: none;
}

#hero-section #subheading {
  background-color: #08929f;
  padding: 15px 0;
  padding-right: 15px;
  text-align: right;
}

@media (max-width: 800px) {
  #hero-section h2 {
    padding: 15px 5px;
  }
}

.intro-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}

.intro-section .intro {
  max-width: 75%;
  padding-top: 25px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .intro-section .intro {
    font-size: 15px;
  }
}

.intro-section .tickets {
  padding-top: 80px;
  padding-left: 30px;
  width: 220px;
  height: 220px;
  background-image: url(./assets/graphics/orange-ball.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 50px;
}

.intro-section a {
  text-decoration: none;
  color: black;
}

.intro-section a:hover {
  color: white;
}

.programme {
  padding: 0px 25px;
  margin-bottom: 40px;
}
.programme .item {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 15px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.programme .item .heading {
  position: relative;
  color: black;
  font-size: 25px;
  transition: all 0.4s linear;
  padding-left: 20px;
  padding-right: 20px;
}
.programme .item .heading h2 {
  color: #764797;
}
.programme .item .heading h3 {
  padding: 10px 0;
}

.programme .item .heading p {
  font-size: 20px;
}

.programme .item .heading:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) rotate(0deg);
  width: 30px;
  height: 30px;
  background-image: url("arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s linear;
}
.programme .item .content {
  opacity: 0;
  max-height: 0px;
  transition: all 0.4s ease-out;
  color: black;
  font-size: 18px;
}

.programme .item .content h3 {
  padding: 5px;
}

.programme .item .content p {
  padding: 5px;
}

.programme .item .content a {
  padding: 5px;
}
.programme .item.open .heading {
  margin-bottom: 15px;
}
.programme .item.open .heading:after {
  transform: translateY(-50%) rotate(180deg);
}
.programme .item.open .content {
  opacity: 1;
  max-height: 1000px;
}

.ace-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.ace-logo img {
  max-width: 25%;
  padding: 20px;
}

@media (max-width: 800px) {
  .ace-logo img {
    max-width: 50%;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  padding-bottom: 30px;
  background-color: #08929f;
}

#footer img {
  max-width: 30%;
  max-height: 100px;
}

#footer p {
  padding: 5px;
  text-align: center;
}

.lineup {
  display: flex;
}

.lineup h2 {
  text-align: center;
  font-size: 40px;
  padding: 25px 0;
  background-image: url(./assets/graphics/cables.png);
  background-color: black;
  color: white;
}

.lineup h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}

.lineup h4 {
  text-align: center;
  font-size: 30px;
}

.lineup .photo-description {
  background-color: #fff;
  margin: 25px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lineup .photo-description #images {
  flex-direction: column;
}

.lineup .photo-description img {
  max-width: 40%;
  padding: 10px;
}

.lineup .photo-description p {
  padding: 10px;
}

@media (max-width: 800px) {
  .lineup .photo-description {
    flex-direction: column;
  }
  .lineup .photo-description img {
    max-width: 100%;
  }
}

.photo-description .innersection {
  max-width: 33%;
}

.photo-description .innersection .innerimage {
  max-width: 100%;
}
