@font-face {
  font-family: "Gulax";
  src: url("assets/fonts/Gulax-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4 {
  font-family: "Gulax";
}

p {
  font-family: "Bahnschrift";
}

body {
  background-color: #eedbca;
}

#hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#hero-section h1 {
  font-size: 60px;
  padding: 30px 0;
  padding-left: 15px;
  background-color: black;
  background-image: url("assets/graphics/cable-separator.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: left;
}

#hero-section a {
  text-decoration: none;
}

#hero-section h2 {
  background-color: #fff;
  padding: 15px 0;
  padding-right: 15px;
  text-align: right;
}

.programme {
  padding: 60px 25px;
}
.programme .item {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 15px auto;
  padding: 15px;
  background-color: #fff;
  border: 2px dashed black;
}
.programme .item .heading {
  position: relative;
  color: #3c3c3c;
  font-size: 20px;
  transition: all 0.4s linear;
  padding-left: 20px;
  padding-right: 20px;
}
.programme .item .heading:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) rotate(0deg);
  width: 30px;
  height: 30px;
  background-image: url("arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s linear;
}
.programme .item .content {
  opacity: 0;
  max-height: 0px;
  transition: all 0.4s ease-out;
  color: #3c3c3c;
  font-size: 18px;
}
.programme .item.open .heading {
  margin-bottom: 15px;
}
.programme .item.open .heading:after {
  transform: translateY(-50%) rotate(180deg);
}
.programme .item.open .content {
  opacity: 1;
  max-height: 1000px;
}
